
# Gradle installation
/.gradle

# build output
/build
/target
/out
build

# IntelliJ project files
/.idea
*.iml

# profiler shapshots and heap dumps
*.jps
*.hprof
*.jfr

# user-specific files
/gradle.user.properties
*.gpg

# macOS files
.DS_Store
