
# Gradle installation
/.gradle

# build output
/build
/target
/out
build

# JarHC cache
/.jarhc/

# IntelliJ project files
/.idea
*.iml

# profiler shapshots and heap dumps
*.jps
*.hprof
*.jfr

# user-specific files
/gradle.user.properties
/notes.txt
*.gpg

# macOS files
.DS_Store
